<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">Navigation</li>
      <!-- Optionally, you can add icons to the links -->
      <li><a [routerLink]="['/home']"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
      <li><a [routerLink]="['/boat-list']"><i class="fa fa-ship"></i> <span>Boote</span></a></li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
