<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Bootsliste</h3>

    <!-- <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div> -->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="table-responsive col-md-5">
      <h4>Boote im Bootshaus</h4>
      <table class="table no-margin">
        <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let availableBoat of availableBoats" [class.selected]="availableBoat === selectedBoat" (click)="onSelectBoat(availableBoat)">
            <td>{{availableBoat.name}}</td>
            <td>{{availableBoat.boatStatus}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->

    <div class="col-md-2">
      <h4>Optionen</h4>
      <button *ngIf="selectedBoat" type="button" class="btn btn-info btn-block"  [routerLink]="['/boat-checkout-dialog', selectedBoat.id]">Boot auschecken</button>
      <button *ngIf="!selectedBoat" type="button" disabled class="btn btn-info btn-block">Boot auschecken</button>
      <button *ngIf="selectedLog" type="button" class="btn btn-warning btn-block">Boot einchecken</button>
      <button *ngIf="!selectedLog" type="button" disabled class="btn btn-warning btn-block">Boot einchecken</button>
      <button type="button" class="btn btn-danger btn-block">Schaden melden</button>
    </div>


    <div class="table-responsive col-md-5">
      <h4>Laufende Fahrten</h4>
      <table class="table no-margin">
        <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let runningLog of runningLogs" [class.selected]="runningLog === selectedLog" (click)="onSelectLog(runningLog)">
            <td>{{runningLog.boat.name}}</td>
            <td>{{runningLog.status.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.box-body -->
</div>
